<!DOCTYPE html>
<html>
<head>
	<title>The Dispatch</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Hind:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/css/mystyle.css" />
	<link rel="stylesheet" type="text/css" href="/css/mystyle1.css" />
	<link rel="stylesheet" type="text/css" href="/css/animate.css" />
	<script src="/js/wow.min.js"></script>
	<script src="/js/wow.js"></script>
</head>
<body>
	{{{body}}}
</body>
</html>