* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

/*::-webkit-scrollbar{
  width: 8px;
  background-color: black;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
*/
/*-----------------------------------------------------------------------------------------*/
#scroll-down {
  opacity: .5;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Hind', sans-serif;
  position: relative;
  top: 300px;  
}
#divLine {
  height: 5px;
  border-radius: 5px;
  width: 600px;
  background-color: black;
  opacity: .1;
  position: relative;
  left: 60px;
  margin-top: 20px;
}
#comment {
  font-size: 24px;
  font-family: 'Hind', sans-serif;   
  opacity: .4;
  margin-top: 20px;
  position: relative;
  left: 70px;
  cursor: pointer;
}
#comment:hover {
  opacity: .7;
}
.comment-icon {
  height: 40px;
  margin-right: 8px;
}
#description {
  position: relative;
  margin-top: 10px;
  font-size: 24px;
  font-family: 'Hind', sans-serif;  
  text-align: left;
  margin-right: 50px;
  margin-left: 50px;
}
.article-container {
  position: relative;
  left: 40px;
  margin-top: 40px;
  background-color: white;
  height: 800px;
  width: 750px;
  overflow:hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}
.outlet-avitar {
  height: 120px;
  width: auto;
  margin-right: 20px;
  float: left;
}
.article-picture {
  margin-top: 5px;
  height: 400px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.3); 
  border: solid;
  border-width: 1px;
}
#author {
  font-weight: bold;
  font-size: 17px;
  font-family: 'Hind', sans-serif;  
  text-align: right;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 10px;
}
.publishedAt {
  font-weight: bold;
  font-size: 17px;
  font-family: 'Hind', sans-serif; 
  text-align: left;
  margin-left: 130px;
  margin-top: 10px;

}
#loadGif {
  margin-top: 300px;
  height: 400px;
  width: auto;
}
.save-icon {
  float: left;
  height: 40px;
  position: relative;
  left: 210px;
  margin-top: 20px;
  opacity: .4;
  cursor: pointer;
}
.save-icon:hover {
  opacity: .7;
}
#search {
  position: fixed;
  color: white;
  font-size: 65px;
  text-align: center;
  margin-left: 20px;
  font-family: 'Hind', sans-serif;  
}
.news-headline {
  font-size: 30px;
  font-family: 'Hind', sans-serif;
  font-weight: bold;
  text-align: left;
  position: relative;
  top: 20px;
  margin-bottom: 20px;
}
.text-caption {
  font-size: 17px;
}

#user-background {
  background-color: #024884;
  height: 100vh;
/*  box-shadow: 0 0 76px rgba(0,0,0,0.5) inset;
*/}
/*----------------------------------------------------------------------------------*/

#create-background {
  background-color: black;
  height: 100%;
}
#add-container {
  font-family: 'Righteous', cursive; 
}
#nyt {
  height: 17px;
  width: auto;
}
#guardian {
  height: 27px;
  width: auto;
}
#wash-po {
  height: 17px;
  width: auto;  
}
#espn {
  height: 27px;
  width: auto;  
}
#reuters {
  height: 57px;
  width: auto;  
}
#wsj {
  height: 14px;
  width: auto;  

}
/*----------------------------------------------------------------------------------*/

#confirm-btn-2 {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 20px;
  }
#confirm-btn-2:hover {
  position: relative;
  top:3px;

}
#confirm-btn-2:active {
  position: relative;
  top:1px;

}

/*-----------------------------------------------------------------------------------------*/

#search-input {
  border-radius: 20px;
  margin-left: 75px;
  height: 45px;
  width: 260px;  
  font-family: 'Righteous', cursive;
  font-weight: bold;
  font-size: 25px;
}

#search-gif {
  height: 150px;
  width: auto;
}

#search {
  margin-left: 70px;
}

#search-stuff {
  position: relative;
  margin-top: 140px;
}

.attach-here {
  background-color: white;
  position: relative;
}

::-webkit-scrollbar {
    width: 8px;
}

 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background: #2c2c2c;

}
